- extend "layout.haml"

%h1 #{ T("Welcome to Weppy Mvc Demo") }
%h4.secondary
  #{ T("a full-stack python web application built on the ") }
    %a{href: "http://weppy.org/"}
      weppy framework
%a{href: "http://weppy.org/"}
  %img{src: "https://img.shields.io/badge/weppy-0.7.2-blue.svg"}
%h3
  #{ T("This application stack was created using ") }
    %a{href: "https://github.com/mijdavis2/generator-weppy-mvc"}
      generator-weppy-mvc
%h4.secondary
  #{ T("a weppy mvc scaffolding generator") }
%hr
.row
  .col-md-6
    %h3
      Weppy Features
    %ul
      %li #{ T("Simple routing system") }
      %li #{ T("Beautiful ORM with integrated migrations") }
      %li #{ T("Elegant validation system") }
      %li #{ T("Secure authentication system") }
      %li #{ T("Handy forms generation") }
      %li #{ T("Straight multi-language system") }
      %li #{ T("Powerful and friendly templating system") }
      %li #{ T("Haml templating (extension)") }
  .col-md-6
    %h3
      Weppy MVC Features
    %ul
      %li #{ T("Easy virtual environment setup") }
      %li #{ T("Pythonic MVC scaffolding") }
      %li #{ T("API module and examples included") }
      %li #{ T("100% Test Coverage") }
      %li #{ T("Dev mode & development tools") }
      %li #{ T("Haml templating") }
      %li #{ T("Bootstrap") }
    %h4
      #{ T("Upcoming") }
    %ul
      %li #{ T("Deployment tools") }
      %li #{ T("Progressive app shell structure") }
      %li #{ T("Material Design and icons") }
%hr
%h2 #{ T("Want to build your own?") }

- include 'generator_weppy_description.haml'
